<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linux Jobber</title>
</head>
<body>
        <table>
            <tr>
                <th style="padding-right: 30px;">User</th>
                <th style="padding-right: 30px;">Weekly Goals</th>
                <th style="padding-right: 30px;">Daily Goals</th>
                <th style="padding-right: 30px;">Verify Goals </th>
                <th style="padding-right: 30px;">Done Goals</th>
            </tr>
            <tr>
                <td style="padding-right: 30px;">{{user}}</td>
                <td >{{ goal_name }} {{ goal_id}}</td>
            </tr> 
        </table>
</body>
</html>

